[mysqld]
wait_timeout = 3000000

innodb_file_per_table
character_set_server = utf8mb4
collation-server = utf8mb4_unicode_ci

;general_log_file = /var/log/query.log
;general_log = 1
table_cache=1024

innodb_io_capacity = 2000
innodb_read_io_threads = 64
innodb_thread_concurrency = 64
innodb_write_io_threads = 64

sort_buffer_size=2M
read_buffer_size=2M
read_rnd_buffer_size=2M
myisam_sort_buffer_size=64M
thread_cache_size=128
query_cache_limit=1M
query_cache_size=64M
query_cache_type=1
